.tag {
  font-family: 'Arvo', serif;
  font-size: 1em;
  background-color: #d6dce4;
  border: 1px solid #bcbcbc;
  margin: 1em 0em 0em 1em;
}

.pad {
  padding: 0.3em 0.75em 0.3em 0.75em;
}

.tag, .text, .count {
  display: inline-block;
}

.text {
  color: #232323;
}

.text, .count {
  display: inline-block;
  padding: 0.3em 0.75em 0.3em 0.75em;
}

.text {
}

.count {
  background-color: #9CB0C9;
  color: #154769;
}

.tag:hover {
  cursor: pointer;
  background-color: #9CB0C9;
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 600px) {
  .tag {
    font-family: 'Arvo', serif;
    font-size: 1.2em;
  }
}
