.entry:first-child {
  margin-top: 4em;
}  

.entry:last-child {
  margin-bottom: 4em;
}

.entry {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  margin-bottom: 5em;
}

.entry a {
  cursor: pointer;
  text-decoration: none;
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 600px) {
  .entry:first-child {
    margin-top: 6em;
  }  
  .entry {
    display: flex;
    flex-direction: column;
    margin-top: 10em;
    margin-bottom: 10em;
  }
}
