.entry {
  display: flex;
  flex-direction: column;
  margin-top: 6em;
  margin-bottom: 6em;
}

.entry:first-child {
  margin-top: 4.5em;
}

.entry a {
  cursor: pointer;
  text-decoration: none;
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 600px) {
  .entry:first-child {
    margin-top: 6em;
  }  
}
