.app {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  margin-left: 5%;
  min-height: 100vh;
  visibility: hidden;
  opacity: 0;
}

.visible {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn { 
  from { opacity: 0; } 
}