.arrow {
  height: 48px;
  width: 48px;
  background-size: 48px 48px;
  background-color: transparent;
  opacity: 0.3;
}

.enabled {
  opacity: 1;
}

.arrow:not(:last-child) {
  margin-right: 10px;
}

.enabled:hover {
  cursor: pointer;
  background-color: #dfdfdf;
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 600px) {
  .arrow {
    height: 62px;
    width: 62px;
    background-size: 62px;
  }
}

.arrow[type="arrowleft"] {
  background-image: url("../../assets/images/1495294636_arrow_left.svg");
}

.arrow[type="arrowright"] {
  background-image: url("../../assets/images/1495294629_arrow_right.svg");
}

.arrow[type="home"] {
  background-image: url("../../assets/images/1498580984_Home.svg");
}
