.arrow {
  height: 48px;
  width: 48px;
  background-size: 48px 48px;
  background-color: transparent;
}

.disabled {
  opacity: 0.3;
}

.arrow:not(:last-child) {
  margin-right: 10px;
}

.arrow:not(.disabled):hover {
  cursor: pointer;
  background-color: #dfdfdf;
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 600px) {
  .arrow {
    height: 62px;
    width: 62px;
    background-size: 62px;
  }
}

.arrowleft {
  background-image: url("../../assets/images/arrow_left.svg");
}

.arrowright {
  background-image: url("../../assets/images/arrow_right.svg");
}

.arrowhome {
  background-image: url("../../assets/images/arrow-home.svg");
}
