.imageContainer {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}


.placeholder {
  position: relative;
  border: 1px solid #ababab;
  width: 100%;
  filter: blur(3px);
}

.imageFadeIn {
  position: absolute;
  opacity: 0;
  width: 100%;
  border: 2px solid #ababab;
  transition: opacity 0.3s linear;
}

.image {
  position: absolute;
  opacity: 1;
  width: 100%;
  border: 2px solid #ababab;
}

.loaded {
  opacity: 1;
}
