.icon {
  box-sizing: content-box;
  height: 40px;
  width: 40px;
  background-size: 40px 40px;
  background-color: transparent;
  border: 2px solid white;
}

.icon:not(:last-child) {
  margin-right: 0.25em;
}

.on {
  border: 2px solid #565656;  
}

.icon.active:hover {
  cursor: pointer;
  border: 2px solid #565656;
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 600px) {
  .icon {
    height: 48px;
    width: 48px;
    background-size: 48px;
  }
}

.icon[data-type="home"] {
  background-image: url("../../assets/images/home.jpg");
}

/* Desktops and laptops ----------- */
/* @media only screen
and (min-width : 600px) {
  .icon[data-type="avatar"]:hover:after {
    content: 'Home';
    font-family: 'Arvo', serif;
    font-size: 1.55em;
    position: relative;
    left: 2.4em;
    top: 0em;
    width: 300px;
    background-color: #436187;
    color: white;
    padding: 0.54em;
  }
}
*/

.icon[data-type="mail"] {
  background-image: url("../../assets/images/mail-square-social-media.svg");
}

.icon[data-type="flickr"] {
  background-image: url("../../assets/images/flickr-square-social-media.svg");
}

.icon[data-type="twitter"] {
  background-image: url("../../assets/images/twitter-square-social-media.svg");
}

.icon[data-type="rss"] {
  opacity: 0.25;
  background-image: url("../../assets/images/feed-subscription-square-filled-button.svg");
}

.icon[data-type="tagcloud"] {
  background-image: url("../../assets/images/tagcloud.svg");
}
