.pageNumber {
  font-family: 'Arvo', serif;
  font-size: 1.4em;
  display: inline-flex;
  margin-right: 0.5em;
  padding: 0.35em 0.9em 0.35em 0.9em;
  border: 1px solid #9a9a9a;
  border-radius: 5px;
}

.pageNumber.active {
  background-color: #95b4c9;
}

.pageNumber.inactive:hover {
  cursor: pointer;
  background-color: #dadfe2;
  border: 1px solid #232323;
}


/* Desktops and laptops ----------- */
@media only screen
and (min-width : 600px) {
  .pageNumber {
    font-size: 1.6em;
  }
}
