.tags {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
  padding: 0;
  list-style-type: none;
  margin-top: 1em;
}

.pad {
  padding-bottom: 3em;
}

.tags a,
.tags a:link
.tags a:visited,
.tags a:active {
  text-decoration: none;
  color: black;
}
