.favourite {
  font-size: 1.4em;
  margin-left: 0.6em;
  padding: 0 0.3em 0 0.3em;
  border: 2px solid white;
}

.favourite.active {
  background-color: #E3D04B;
  border: 2px solid #E3D04B;
}

.favourite.inactive {
  background-color:  #efefef;
}

.favourite:hover {
  cursor: pointer;
}

.favourite:hover {
  border: 2px solid #E3D04B;
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 600px) {
  .favourite {
    margin-left: 0.4em;
    font-size: 2em;
  }
}
