.favourite {
  font-size: 1.4em;
  margin-left: 1em;
}

.favourite span {
  padding: 0 0.3em 0 0.3em;
}

.favourite span.active {
  background-color: #E3D04B;
  border: 1px solid #E3D04B;
}

.favourite span.inactive {
  border: 1px solid #efefef;
  background-color:  #efefef;
}

.favourite span:hover {
  cursor: pointer;
}

.favourite span.inactive:hover {
  border: 1px solid #898989;
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 600px) {
  .favourite {
    font-size: 2em;
    margin-left: 0.5em;
  }
}
