.header {
  display: flex;
  flex-direction: row;
  padding-top: 1em;
  padding-bottom: 2em;
  border-bottom: 1px solid black;
  opacity: 0;
  animation: fadeIn 0.3s linear;
}

.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.visible {
  opacity: 1;
  animation: fadeIn 0.3s linear;
}

@keyframes fadeIn { 
  0% { opacity: 0; } 
  100% { opacity: 1 }
}
